/*헤더*/

header{
  width: 1440px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > ul{
  width: 662px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}
header li:hover{
  font-weight: 700;
}

/*메인슬라이드*/

main > .mainSlide{
  width: 100%;
  height: 100vh;
}
main .background{
  width: 100%;
  height: 100%;
  background-image: url(../img/main/main1_realuse.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main h1{
  position: absolute;
  left: 240px;
  top: 255px;
  color: #fff;
  line-height: 150%;
  font-size: 3rem;
  font-weight: 700;
}

/*베스트 프로덕트*/

.best{
  width: 75%; /*1720px*/
  margin: -96px auto 300px auto;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 70px;
  background-color: #fafafa;
}
.best > h1{
  text-align: center;
  font-size: 2rem; /*32px*/
  font-family: "Gangwon Edu Power", "Noto Sans KR", sans-serif;
  font-weight: 800;
  margin-bottom: 49px;
}
.best > .product{
  width: 75%; /*1440px*/
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best > .product > .product1,
.best > .product > .product2,
.best > .product > .product3,
.best > .product > .product4{
  width:25%;
  margin-right: 20px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1rem; 
}
.best > .product > .product4{
  margin-right: 0;
}
.best > .product .innerBox{
  margin-bottom: 20px;
}
.best > .button-link{
  width: 17%; /*300px*/
  padding: 20px 30px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1rem; 
  display: block;
  margin: auto;
  text-align: center;
}


/*슬라이드2*/
.slide2{
  width: 75%; /*~1439px*/
  margin: 0 auto 300px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  font-family: "Noto Sans KR", sans-serif;
}
.slide2 > .text > h1{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 53px;
}
.slide2 > .text > p{
  font-weight: 500;
  font-size: 1.25rem; /*20px*/
}
.slide2 > img{
  width: 50%; 
}

/*슬라이드3*/

/*html,
body {
  position: relative;
  height: 100%;
}*/

.swiper {
  width: 100%;
  /*height: 100%;*/
}
.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 142px 0 227px 0; /*마주보는 것끼리 수치가 같으면 굳이 안써도 됨 ~ ex) 142px 0 227px*/
}
.swiper-slide > p:first-child{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 1.125rem; /*18px*/
}
.swiper-slide > h3{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 2rem; /*32px*/
  margin-bottom: 160px;
}
.swiper-slide > h1{
  font-family: "Gangwon Edu Power", "Noto Sans KR", sans-serif;
  font-weight: 800;
  font-size: 2.5rem; /*40px*/
  margin-bottom: 80px;
}
.swiper-slide > p:nth-child(2){
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1.125rem; /*18px*/
  line-height: 160%;
}
.vegetarian{
  background-image: url(../img/main/slide3_vegetarian.png);
  background-repeat: no-repeat;
} 
.organic{
  background-image: url(../img/main/slide3_organic.png);
  background-repeat: no-repeat;
} 
.ethic{
  background-image: url(../img/main/slide3_ethic.png);
  background-repeat: no-repeat;
} 

/*슬라이드4*/
.slider4{
  width: 75%; /*~1439px*/
  background-image: url(../img/main/map_LUSH.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 250px auto 762px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slider4 > .map{
  padding-top: 140px;
  width: 500px;
}
.slider4 > .text{
  margin-top: 140px;
}
.slider4 > .text > h1{
  margin-bottom: 68px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 2rem; /*48px*/
}
.slider4 > .text > p{
  margin-bottom: 82px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.25rem; /*20px*/
}
.slider4 > .text > .button-link{
  width: 17%; /*~243px*/
  padding: 10px 30px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem; 
}

/*푸터*/
footer{
  width: 100%;
  padding: 86px 240px 86px 240px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
}
footer > .inner{
  display: flex;
  justify-content: space-between; 
}
footer > .inner > .download{
  width: 6.6%;
  font-weight: 700;
  font-size: 1rem;
}
